@charset "UTF-8";

body{
    line-height: 1.7;
    height: 10000px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.page-wrapper{
    overflow-x: hidden;
    width: 100%;
    position: relative;
    background-color: aquamarine;
}

/*
*********************************************************************************************************
*********************************************************************************************************
ヘッダー
*********************************************************************************************************
*********************************************************************************************************
*/

.header{
    background-color: antiquewhite;
    width: 100%;
    height: 60px;
}

.header-inner{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.header-logo{
    background-color: bisque;
    margin: 0;
    font-size: 24px;
}

.hamburger-btn{
    background-color: blue;
    position: fixed;
    top: 8px;
    right: 15px;
    z-index: 9999;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: blue;
}

/*
****************************************************************
ハンバーガーアイコンの線（通常時）
****************************************************************
*/
.hamburger-line{
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 9px auto;
    transition:  transform .3s ease, opacity .3s ease;
}

/*
****************************************************************
ハンバーガーアイコンの線（開いたとき）
****************************************************************
*/
.hamburger-btn.is-open .hamburger-line:nth-of-type(1){
    transform: translateY(11px) rotate(225deg);
}

.hamburger-btn.is-open .hamburger-line:nth-of-type(2){
    opacity: 0;
}

.hamburger-btn.is-open .hamburger-line:nth-of-type(3){
    transform: translateY(-11px) rotate(-225deg);
}

/*
****************************************************************
グローバルナビゲーション（通常時）
****************************************************************
*/
.g-nav{
    background-color: blueviolet;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transform: translateX(100%);
    transition: transform .3s ease;
}

/*
****************************************************************
グローバルナビゲーション（開いたとき）
****************************************************************
*/
.g-nav.is-open{
    transform: translateX(30%);
}

.g-nav ul{
    background-color: brown;
    margin-top: 60px;
}

.g-nav ul li{
    background-color: aqua;
    border-bottom: #999 solid 1px;
}

.g-nav ul li a{
    background-color: antiquewhite;
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 35px;
    font-size: 1.1em;
}

@media screen and (min-width: 768px) {
/*
*********************************************************************************************************
*********************************************************************************************************
ヘッダー
*********************************************************************************************************
*********************************************************************************************************
*/

.header{
    background-color: antiquewhite;
    width: 100%;
    height: 60px;
}

.header-inner{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.header-logo{
    background-color: bisque;
    margin: 0;
    font-size: 24px;
}

.hamburger-btn{
    background-color: blue;
    position: fixed;
    top: 8px;
    right: 15px;
    z-index: 9999;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: blue;
        display: none;
}

/*
****************************************************************
ハンバーガーアイコンの線（通常時）
****************************************************************
*/
.hamburger-line{
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 9px auto;
    transition:  transform .3s ease, opacity .3s ease;
}

/*
****************************************************************
ハンバーガーアイコンの線（開いたとき）
****************************************************************
*/
.hamburger-btn.is-open .hamburger-line:nth-of-type(1){
    transform: translateY(11px) rotate(225deg);
}

.hamburger-btn.is-open .hamburger-line:nth-of-type(2){
    opacity: 0;
}

.hamburger-btn.is-open .hamburger-line:nth-of-type(3){
    transform: translateY(-11px) rotate(-225deg);
}

/*
****************************************************************
グローバルナビゲーション（通常時）
****************************************************************
*/
.g-nav{
    background-color: blueviolet;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transform: translateX(100%);
    transform: translateX(30%);/*後で消す*/
    transition: transform .3s ease;
        position: static;
        height: auto;
        width: auto;
        transform: none;
        margin-left: auto;
}

/*
****************************************************************
グローバルナビゲーション（開いたとき）
****************************************************************
*/
.g-nav.is-open{
    transform: translateX(30%);
        transform: none;
}

.g-nav ul{
    background-color: brown;
    margin-top: 60px;
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
}

.g-nav ul li{
    background-color: aqua;
    border-bottom: #999 solid 1px;
        border-bottom: 0;
}

.g-nav ul li a{
    background-color: antiquewhite;
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 35px;
    font-size: 1.1em;
        display: block;
        width: auto;
        padding: 10px 0;
}
}